{% extends 'base.html' %}

{% block head %}
<title>Номер заказа?</title>
{% endblock %}

{% block body%}
<div class="container">
    <form role="form" action="/admin/yandex_add_or_edit.html" method="POST" style="margin-top: 15%; margin-left: 30%;">
        <h5>Введие номер заказа для создания или редактирования</h5>
        <label for="order_internal_id">id заказа из таблицы</label>
        <input type="text" class="form-control" name="order_internal_id" required style="width: 25%;">
        <br>
        <input type="submit" class="btn btn-primary" value="создать / редактировать">
    </form>
</div>
{% endblock %}