{% extends 'admin/base.html' %}

{% block head %}
<title>Печать накладных</title>
{% endblock %}

{% block body%}
<div class="container">
    <h3>Накаладные</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Ссылка на файл</th>
                <th>Дата создания</th>
                <th>Список заказов</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices: %}
            <tr>
                <th> <a href=/admin/get_invoice/{{invoice['invoice_file_name']}} target="_blank"> ссылка</a></th>
                <th> {{invoice['date_managed']}}</th>
                <th> {{invoice['orders']}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}