{% extends 'admin/base.html' %}

{% block head %}
<title>Распределяем заказы</title>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--ymaps init-->
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ymaps_token}}&lang=ru_RU" type="text/javascript">
</script>


{% endblock %}

{% block body%}
<div class="modal-body row">
    <div class="col-md-6">
        <div id="map" style="width:500px; height:500px"></div>
    </div>

    <div class="col-md-6">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>кл</th>
                    <th>order_id</th>
                    <th>время</th>
                    <th>вес</th>
                    <th>мест</th>
                    <th>комментарий</th>
                </tr>
            </thead>
            <tbody id="orders_list"></tbody>
        </table>
        <div style="display:inline-block;">
            <button id="drop_claster_button" class="btn btn-primary">drop cluster</button>
            <button id="new_claster_button" class="btn btn-primary">new cluster</button>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    mov cluster
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown_cluster_variants">
                </ul>
                
            </div>
        </div>
        <!-- <button id="upd_claster_button" class="btn btn-primary">move to cluster</button> -->
    </div>

    <script src="/static/js/orders_manager_ymaps.js"></script>
    {% endblock %}