{% extends 'admin/base.html' %}

{% block head %}
<title>Распределяем заказы</title>

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<!--ymaps init-->
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ymaps_token}}&lang=ru_RU" type="text/javascript">
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

{% endblock %}

{% block body%}

<div class="modal-body row">
   

    <div class="col-md-6">
        <div id="map" style="width:300px; height:300px"></div>
    </div>

    <div class="col-md-6">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                выбрать кластер
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown_cluster_variants">
            </ul>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>order_id</th>
                    <th>время</th>
                    <th>адрес</th>
                    <th>оплата</th>
                    <th>вес</th>
                    <th>мест</th>
                    <th>комментарий</th>
                </tr>
            </thead>
            <tbody id="orders_list"></tbody>
        </table>
        

        <button class="btn btn-primary" id="yandex_btn">оформить в яндекс</button>
        <button class="btn btn-primary" id="pdf_btn">оформить в файлик</button>
        <h5 id="msg"></h5>

    </div>
</div>


<script src="/static/js/clusters_manager_ymaps.js"></script>
<!-- <script type="text/javascript">
    $('tbody').sortable();
  </script> -->
{% endblock %}