{% extends 'base.html' %}

{% block head %}
<title>Заказ доставки</title>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ymaps_token}}" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    function init() {
        var suggestView1 = new ymaps.SuggestView('address');
    }
</script>
{% endblock %}

{% block body%}
<div class="container">
    <script>
        if(!navigator.cookieEnabled) {
        alert('В вашем браузере не разрешены куки. Пожалуйста, используйте другое приложение для оформления доставки.\nСерьезно. В этом браузере не заработает(((')
    }
    </script>
    <h5>Введите свой адрес, чтобы узнать, услуги какокого сервиса будут дешевле</h5>
    <form role="form" action="/" method="POST">
        <div class="form-group w-50">
            <label for="address">адрес</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="введите адрес"
            value="Черепановых 32" required>
        </div>
        <div class="form-group w-50">
            <label for="stringnum">номер заказа, переданный менеджером</label>
            <input type="text" class="form-control" name="stringnum" placeholder="" value="test2" required>
        </div>
        <!-- <div class="form-group w-50">
            <label for="name">имя</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="введите имя">
        </div> -->
        <br>
        <input type="submit" class="btn btn-primary" value="Узнать">
    </form>
</div>
{% endblock %}