{% extends 'base.html' %}

{% block head %}
<title>Заказ доставки</title>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ymaps_token}}" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    function init() {
        var suggestView1 = new ymaps.SuggestView('fullname');
    }
</script>
{% endblock %}

{% block body%}
<div class="container">
    <h5>Введите свой адрес, чтобы узнать, услуги какокого сервиса будут дешевле</h5>
    <form role="form" action="/" method="POST">
        <div class="form-group w-50">
            <label for="fullname">адрес</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="введите адрес"
            value="Тверская 4" required>
        </div>
        <div class="form-group w-50">
            <label for="stringnum">число, переданное менеджером</label>
            <input type="text" class="form-control" name="stringnum" placeholder="" value=5 required>
        </div>
        <!-- <div class="form-group w-50">
            <label for="name">имя</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="введите имя">
        </div> -->
        <br>
        <input type="submit" class="btn btn-primary" value="Узнать">
        <!-- <input class="btn btn-primary" onclick="count_delivery()" value="Узнать"> -->
    </form>
</div>
{% endblock %}