{% extends 'base.html' %}

{% block head %}
<title>Форма YandexGo</title>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ymaps_token}}" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    function init() {
        var suggestView1 = new ymaps.SuggestView('fullname');
    }
</script>


{% endblock %}

{% block body%}
<div class="container">
    <div class="container">
        <br>
        <h3>Заполните форму для яндекс доставки</h3>
        <br>
        <h5>{{errors}}</h5>
        <form role="form" method="post" action="/yandex_form.html">
            <!-- id заказа -->
            <div class="form-group w-50">
                <label for="order_id">id заказа</label>
                <input type="text" class="form-control" name="order_id" placeholder="id, который Вам выслал менеджер" {%
                    if cook.get('order_id'): %} value="{{cook.get('order_id')}}"" {% endif %}
                    required>
            </div>
            <!-- имя -->
            <div class=" form-group w-50">
                <label for="name">имя</label>
                <input type="text" class="form-control" name="name" placeholder="введите имя" {% if cook.get('name'): %}
                    value="{{cook.get('name')}}"" 
                {% endif %}
                required>
            </div>
            <!-- телефон -->
            <div class=" form-group w-50">
                <label for="phone">контактный телефон</label>
                <input type="text" class="form-control" name="phone" placeholder="введите номер телефона" {% if
                    cook.get('phone'): %} value="{{cook.get('phone')}}""
                    {% endif %}
                    required>
            </div>
            <!-- адрес -->
            <!-- <div class=" form-group w-50">
                <label for="city">город</label>
                <input type="text" class="form-control" name="city" {% if cook.get('city'): %}
                    value="{{cook.get('city')}}""
                {% endif %}
required> -->
            <!-- </div> -->
            <div class=" form-group w-50">
                <label for="fullname">адрес с городом</label>
                <input type="text" class="form-control" id="fullname" name="fullname" placeholder="напр. Тверская улица 9Ас5" {% if
                    cook.get('fullname'): %} value="{{cook.get('fullname')}}""
                {% endif %}
                required>
            </div>
            <div class=" form-group w-50">
                <label for="porch">подъезд</label>
                <input type="text" class="form-control" name="porch" placeholder="" {% if cook.get('porch'): %}
                    value="{{cook.get('porch')}}""
                    {% endif %}
>
            </div>
            <div class=" form-group w-50">
                <label for="door_code">домофон</label>
                <input type="text" class="form-control" name="door_code" placeholder="" {% if cook.get('door_code'): %}
                    value="{{cook.get('door_code')}}""
                    {% endif %}
>
            </div>
            <div class=" form-group w-50">
                <label for="sfloor">этаж</label>
                <input type="text" class="form-control" name="sfloor" placeholder="" {% if cook.get(''): %}
                    value="{{cook.get('sfloor')}}""
                {% endif %}
>
            </div>
            <div class=" form-group w-50">
                <label for="sflat">квартира</label>
                <input type="text" class="form-control" name="sflat" placeholder="" {% if cook.get('sflat'): %}
                    value="{{cook.get('sflat')}}""
                    {% endif %}
>
            </div>
            <!-- комментарий -->
            <div class=" form-group w-50">
                <label for="comment">комментарий для курьера</label>
                <input type="text" class="form-control" name="comment" placeholder="" {% if cook.get('comment'): %}
                    value="{{cook.get('comment')}}""
                    {% endif %}
>
            </div>
            <br>
            <button class=" btn btn-primary" type="submit">Оформить вызов курьера</button>
        </form>
    </div>
</div>
{% endblock %}